<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
		">

	<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>org.hsqldb.jdbcDriver</value></property>
		<property name="url"><value>jdbc:hsqldb:hsql://localhost</value></property>
		<property name="username"><value>SA</value></property>
		<property name="password"><value></value></property>
	</bean>

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses"> 
			<list> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.CommentImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.MemberImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.FamilyImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.IngredientImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.IngredientOptionsImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.RatingImpl</value> 
				<value>edu.stthomas.gps.familyrecipesystem.entity.RecipeImpl</value> 
			</list> 
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	<!-- DAOs -->
	<bean id="commentDao" class="edu.stthomas.gps.familyrecipesystem.dao.CommentDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="memberDao" class="edu.stthomas.gps.familyrecipesystem.dao.MemberDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>


	<!-- Services -->
	<bean id="commentService" class="edu.stthomas.gps.familyrecipesystem.service.CommentServiceImpl">
		<property name="dao" ref="commentDao" />
	</bean>

	<!-- Transactions -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>


</beans>
